<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">



	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="/scss/navbar.css">
    <link rel="stylesheet" type="text/css" href="/scss/createnewblog.css">
    <title>Post An Article</title>

    <style>
        .cke_toolbar {
            zoom: 1.1;
        }
        
    </style>

</head>
<body>

    
    <% include ./partials/navbar %>
    <% include ./partials/messages %>

    <header class="cnb_header"> <h1> POST AN ARTICLE !!!! </h1> </header>
    
    <% if(typeof post != 'undefined') { %>
        <form class="cnb_form" method="POST" action="/homepage/blogs/afterDeletePost">
    <% } else { %>
        <form class="cnb_form" method="POST" action="/homepage/createnewblog">
    <% }%>

        <div> 
            <span style="display: block"> Title:  </span>
            <% if(typeof post != 'undefined') { %>
                <input name="hiddenID" value="<%=post._id%>" type="hidden">
                <input type="text" name="title" value="<%-post.postTitle%>" required> 
            <% } else { %>
                <input type="text" name="title" required> 
            <% }%>
        </div>
        <div> 
            <div class="content" style="display: flex; justify-content: space-between;">
                <span> Content: </span> <span style="align-self: flex-end; font-size: 14px; font-weight: 300;">For Easier writting, Click on the Full Screen Button - (Last row cross sign) </span>
            </div>
            <% if(typeof post != 'undefined') { %>
                <div class="ck"> <textarea rows="20" cols="80" id="editor" name="editor" required> <%-post.postContent%> </textarea> </div>
            <% } else { %>
                <div class="ck"> <textarea rows="20" cols="80" id="editor" name="editor"  required></textarea> </div>
            <% }%>

        </div>
        <div class="cnb_submit">
            <button> SUBMIT </button>
        </div>
    </form>

    <% include ./partials/disappearFlask %>

    <script src="/js/ckeditor/ckeditor.js"> </script>
    <script> 
       CKEDITOR.replace( 'editor' ); 

       


    </script> 
</body>
</html>