* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    height: 100vh;
    color: white;
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
}

a:link,
a:visited,
a:active {
    margin-top: 10px;
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #0046d5;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    width: 100%;
    -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
    box-shadow: 0px 4px 15px -5px #0046d5;
    transition: background 1s;
}

a:hover {
    background: #033caf;
}

img {
    max-width: 300px;
    border-radius: 20%;
}

.userdata {
    padding: 30px;
}

.userdata > * {
    padding: 5px;
}

.propic {
    position: relative;
    overflow: hidden;
    display: block;
}

.propic button {
    border: 2px solid rgb(104, 102, 102);
    color: rgb(98, 88, 88);
    background-color: white;
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.propic input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}